html *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    cursor: pointer;
    
}

nav{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 20% 0 20%;
    gap: 100px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons{
    display: flex;
    gap: 20px;
}

.lower-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 80px;
}

.lower-content h1{
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;
}

.lower-content img{
    border-radius: 15px;
    width: 400px;
    height: auto;
}

.images-and-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;

}

.images-and-desc h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.car-images{
    display: flex;
    gap: 20px;
    padding: 0 30% 0 30%;
}

.car-images img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.car-images p{
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 0 30% 0 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p:first-child{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote p:nth-child(2){
    font-size: 25px;
    font-weight: 600;
    color: #1F2937;

}

.call-to-action{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up{
    background-color: #3882F6;
    width: 50%;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    
}

button{
    background-color: #3882F6;
    border: none;
    color: white; padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 15px;
}

.sign-up button{
    border: 2px solid white;
}

.sign-up h1{
    font-size: 25px;
}

.sign-up p{
    font-size: 16px;
    font-weight: 100;
}

footer{
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
    color: #E5E7EB;
}